<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        padding: 10px;
        margin: 5px;
    }

    input[type=text] {
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Publish Date</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.getId()}"></td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.getPublisher()}"></td>
        <td th:text="${book.getPublishDate()}"></td>
        <td th:text="${book.getQuantity()}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>